<template>
  <div id="typing">
    <div class="card-standard">
      <h1 class="card-timer right">
        {{seconds}}
        <span>s</span>
      </h1>
    </div>
    <div class="card card-standard card-typing">
      <span
        class="card-type"
        v-for="(char, index) in currSplitChars"
        v-bind:key="char.value+index"
        v-bind:class="charStyle(char)"
      >
        <span v-if="char.value != ' '">{{char.value}}</span>
        <span v-else>&nbsp;</span>
      </span>
    </div>
    <div>
      <input
        type="text"
        class="card-standard"
        placeholder="Type here"
        v-model="inputText"
        v-on:input="compare()"
        v-on:keyup.delete="backspacePressed()"
        :disabled="isTestDone"
      />
      <!-- <p>current word: {{getCurrWord()}}</p> -->
    </div>
    <p>word: {{currSplitWords[currWordIndex].value}}</p>
    <div class="card-standard" v-show="isTestDone">
      <h1 class="card-timer">
        {{netWPM}}
        <span>wpm</span>
        {{accuracy}}
        <span>% accuracy</span>
      </h1>
    </div>
    <!-- <button v-on:click="startCountdown()">Start</button> -->
  </div>
</template>

<script>
import { isContext } from "vm";
export default {
  name: "TypingTest",
  data() {
    return {
      passages: [
        'Set in the Jazz Age, The Great Gatsby tells the story of the mysterious millionaire Jay Gatsby, his decadent parties, and his love for the alluring Daisy Buchanan. Dismissed as "no more than a glorified anecdote, and not too probable at that" (The Chicago Tribune), The Great Gatsby is now considered a contender for "the Great American Novel." Fitzgerald wanted to title the novel "Trimalchio in West Egg," but both his wife and his editor preferred "The Great Gatsby." Fitzgerald gave in, though he still thought that "the title is only fair, rather bad than good."'
      ],
      inputText: "",
      currPassageIndex: 0,
      currWordIndex: 0,
      currCharIndex: 0,
      currSplitWords: [], //array of words from current passage
      currSplitChars: [], //array of chars from current words
      entriesCounter: 0,
      mistakeCounter: 0,
      netWPM: 0,
      accuracy: 0,
      minutes: 1,
      seconds: 60,
      countdown: null,
      isStarted: false,
      isTestDone: false
    };
  },

  created() {
    this.currSplitWords = this.splitWordsOfCurrPassage(this.currPassageIndex);
    this.currSplitChars = this.splitChars(this.currSplitWords);
  },

  methods: {
    charStyle(char) {
      let isCurrent, isCorrect;

      if (this.currSplitChars[this.currCharIndex] == char) {
        isCurrent = true;
      }

      if (char.isCorrect) {
        isCorrect = true;
      }

      let isGreen, isRed, isBlue, isBlack;
      
      if (isCurrent) {
        isGreen = true;
      }else if(!isCorrect){
        isRed = true;
      }else if(isCorrect){
        isBlue = true;
      }else{
        isBlack = true;
      }

      return {
        black: isBlack,
        blue: isBlue,
        red: isRed,
        green: isGreen,
      };
    },

    compare() {
      if (!this.isStarted) {
        this.isStarted = true;
        this.startCountdown();
      }

      let currChar = this.currSplitChars[this.currCharIndex];
      this.entriesCounter++;

      console.log("LAST CHARACTER: ", this.inputText.substr(-1));
      console.log("CHAR VALUE: ", currChar.value);
      if (this.inputText.substr(-1) != currChar.value) {
        this.mistakeCounter++;
      } else {
        currChar.isCorrect = true;
        this.currCharIndex++;
      }

      let currWord = this.currSplitWords[this.currWordIndex];
      if (this.inputText == currWord.value) {
        currWord.isComplete = true;
        this.currWordIndex++;
        this.inputText = "";

        //restore to first char of next word
        let newWord = this.currSplitWords[this.currWordIndex];
        let firstChar = newWord.value[0];

        for (let i = 0; i < this.currSplitChars.length; i++) {
          let char = this.currSplitChars[i];

          //check if char value is equal to first char of next word
          //and if it is a child of the next word
          if (
            char.value == firstChar &&
            char.parentWordIndex == newWord.index
          ) {
            this.currCharIndex = i; //set index of current char
            break;
          }
        }
      }
    },

    backspacePressed() {
      let char = this.currSplitChars[this.currCharIndex];
      char.isCorrect = false;
      let parentWord = this.currSplitWords[char.parentWordIndex];
      parentWord.isComplete = false;

      if (this.currCharIndex > 0) {
        this.currCharIndex--;
      }
    },

    startCountdown() {
      console.log("hello");
      this.countdown = setInterval(this.timer, 1000);
    },

    timer() {
      if (this.seconds == 0) {
        clearInterval(this.countdown); //stop countdown
        this.isTestDone = true;
        this.calculateNetWPM();
        this.calculateAccuracy();
      } else {
        this.seconds--; //countdown
      }

      console.log("seconds", this.seconds);
      console.log("currPassageIndex: ", this.currPassageIndex);
      console.log("currWordIndex", this.currWordIndex);
      console.log("currCharIndex", this.currCharIndex);
      console.log(this.currSplitWords);
      console.log(this.currSplitChars);
      console.log("entriesCounter", this.entriesCounter);
      console.log("mistakeCounter", this.mistakeCounter);
    },

    splitWordsOfCurrPassage(currPassageIndex) {
      let res = [];
      let splitWords = this.passages[currPassageIndex].split(" ");

      for (let i = 0; i < splitWords.length; i++) {
        let currWord = {
          index: i,
          value: splitWords[i] + " ",
          isComplete: false
        };

        res.push(currWord);
      }

      return res;
    },

    splitChars(currSplitWords) {
      let res = [];

      for (let i = 0; i < currSplitWords.length; i++) {
        let word = currSplitWords[i].value;
        let chars = word.split("");

        for (let j = 0; j < chars.length; j++) {
          let currChar = {
            value: chars[j], //current character
            isCorrect: false,
            parentWordIndex: i //index of current word
          };

          res.push(currChar);
        }
      }

      return res;
    },

    getCurrWord() {
      return this.currSplitWords[this.currWordIndex].value;
    },

    calculateGrossWPM() {
      return this.entriesCounter / 5 / this.minutes;
    },

    calculateNetWPM() {
      let uncorrectedErrors = 0;
      for (let i = 0; i < this.currSplitWords.length; i++) {
        let word = this.currSplitWords[i];
        if (!word.isComplete) {
          uncorrectedErrors++;
        }

        //stop at the last word pointed when timer ended
        if (word.index == this.currWordIndex) {
          break;
        }
      }

      console.log("grossWPM: ", this.calculateGrossWPM());
      console.log("uncorrected: ", uncorrectedErrors);

      this.netWPM = (this.calculateGrossWPM() - uncorrectedErrors / this.minutes).toFixed(2);
    },

    calculateAccuracy() {
      console.log("netWPM: ", this.netWPM);
      console.log("grossWPM: ", this.calculateGrossWPM());
      this.accuracy = ((this.netWPM / this.calculateGrossWPM()) * 100).toFixed(2);
    }
  }
};
</script>

<style scoped>
.card {
  background: white;
  box-shadow: 0px 2px 10px rgba(45, 52, 56, 0.1);
  border-radius: 4px;
  overflow: hidden;
  height: 280px;
  transition-duration: 0.2s;
}

.card-typing {
  padding: 25px 25px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 1.9;
  width: 60%;
  overflow-y: hidden;
  text-align: justify;
}

.card-timer {
  font-family: "Raleway", sans-serif;
  font-size: -webkit-xxx-large;
  font-weight: 900;
  color: #2d3438; /*gray20*/
  margin: 10px;
}

.card-standard {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.right {
  text-align: right;
  padding-right: 17%;
}

input[type="text"] {
  height: 36px;
  padding: 8px 12px;
  outline: none;
  font-size: 20px;
  background: #e1e3e5;
  color: #2d3438; /*gray20*/
  border-radius: 4px;
  border: 1px solid #aab5ba; /*gray70*/
  transition-duration: 0.2s;
  text-align: left;
}

span {
  font-weight: 500;
  font-size: 22px;
  font-family: "Lato", sans-serif;
}

.card-type {
  display: inline-block;
}

.green {
  color: #09b66d;
}

.red {
  color: #eb5757;
}

.blue {
  color: #60d2ff;
}

.black {
  color: black;
}
</style>
