<template>
  <div id="typing">
    <div>
      <p>{{ currPassage }}</p>
      <!-- <input v-model="inputText" @onchange="compare()"> -->
      <input v-model="inputText" v-on:input="compare"/>
      <!-- <p>{{broken}}</p> -->
      <p>current word: {{currentText}}</p>
    </div>
  </div>
</template>

      }
<script>
export default {
  name: "typing",
  data() {
    return {
      flag: true,
      index: 0,
      msgs: [
          {
              id: 1,
              passage: "The quick brown fox jumped over the fence",  
          },
          {   
              id: 2,
              passage: "Lorem ipsum dolor sit amet"
          }
      ],
      inputText: '',
      currentText: '',
      broken: [],
      characterCount: 0,
      passages: [],
      currPassage: "",
    }
  },

  created(){
    for(let i = 0; i < this.msgs.length; i++){
      let currMsg = this.msgs[i].passage;
      let currSplit = this.splitPassage(currMsg);
      this.passages.push(currSplit);
    }
    this.currPassage = this.msgs[0].passage;


  },
  
  methods: {
    
    splitPassage(msg) {
      if(this.flag) {
        // console.log(msg);
        this.broken = msg.split(' ');

        // console.log(this.broken);
        this.currentText = this.broken[this.index++];
        // console.log(this.currentText);
        // console.log(this.countPerWord);
        this.flag = false
      }
      
    },
    compare() {
      console.log('assad', this.currentText, this.inputText)
      if(this.currentText == this.inputText){
        console.log('yay')
        if(this.index == this.broken.length){
          
        } else {
          this.currentText = this.broken[this.index++];
          this.characterCount += this.currentText.length;
        }
        
        this.inputText = ''
      }
      else{

      }
    }
  }
}
</script>

<style scoped>

</style>
