<template>
  <div id="typing">
    <div class="card-standard">
      <h1 class="card-timer right">
        {{seconds}}
        <span>s</span>
      </h1>
    </div>
    <div class="card card-standard card-typing">
      <span
        class="card-type"
        v-for="char in currSplitChars"
        v-bind:id="char.key"
        v-bind:key="char.key"
        v-bind:class="charStyle(char)"
      >
        <span v-if="char.value != ' '">{{char.value}}</span>
        <span v-else>&nbsp;</span>
      </span>
    </div>
    <div>
      <input
        type="text"
        class="card-standard"
        placeholder="Type here"
        v-model="inputText"
        @input="compare($event)"
        v-on:keyup.delete="backspacePressed()"
        :disabled="isTestDone"
      />
      <!-- <p>current word: {{getCurrWord()}}</p> -->
    </div>
    <p>word: {{currSplitWords[currWordIndex].value}}</p>
    <div class="card-standard" v-show="isTestDone">
      <h1 class="card-timer">
        {{netWPM}}
        <span>wpm</span>
        {{accuracy}}
        <span>% accuracy</span>
      </h1>
    </div>
    <!-- <button v-on:click="startCountdown()">Start</button> -->
  </div>
</template>

<script>
import { isContext } from "vm";
export default {
  name: "TypingTest",
  data() {
    return {
      //add more passages
      passages: [
        'Set in the Jazz Age, The Great Gatsby tells the story of the mysterious millionaire Jay Gatsby, his decadent parties, and his love for the alluring Daisy Buchanan. Dismissed as "no more than a glorified anecdote, and not too probable at that" (The Chicago Tribune), The Great Gatsby is now considered a contender for "the Great American Novel." Fitzgerald wanted to title the novel "Trimalchio in West Egg," but both his wife and his editor preferred "The Great Gatsby." Fitzgerald gave in, though he still thought that "the title is only fair, rather bad than good."'
      ],

      inputText: "",
      currPassageIndex: 0,
      currWordIndex: 0,
      currCharIndex: 0,
      currSplitWords: [], //array of words from current passage
      currSplitChars: [], //array of chars from current words
      entriesCounter: 0,
      netWPM: 0,
      accuracy: 0,
      minutes: 1,
      seconds: 60,
      countdown: null,
      isStarted: false,
      isTestDone: false,

      //enum
      CharStatus:{
        INITIAL: 0,   //black
        CURRENT: 1,   //green
        INCORRECT: 2, //red
        CORRECT: 3,   //blue
      }
    };
  },

  created() {
    this.currSplitWords = this.splitWordsOfCurrPassage(this.currPassageIndex);
    this.currSplitChars = this.splitChars(this.currSplitWords);
  },

  methods: {
    findCurrCharPointed(){
      //expected key is of the form: (parent index) + text + (char index)
      //example key of 'S' in "Set " is: "0Set 0" (we use this to find the exact instance of 'S')
      let word = this.currSplitWords[this.currWordIndex].value;
      let expectedKey = this.currWordIndex.toString() + word + this.currCharIndex.toString();
      
      //find the currently pointed character
      let res = this.currSplitChars.find(
        (char) => {
          return expectedKey == char.key;
        }
      );

      return res;
    },

    charStyle(char) {
      //check if given char is the current char pointed
      let charPointed = this.findCurrCharPointed();
      if (charPointed == char) {
        char.status = this.CharStatus.CURRENT; //set given char's status to CURRENT
      }

      return {
        green: char.status == this.CharStatus.CURRENT, //current (green)
        red: char.status == this.CharStatus.INCORRECT, //incorrect (red)
        blue: char.status == this.CharStatus.CORRECT, //correct (blue)
        black: char.status == this.CharStatus.INITIAL, //initial color (black)
      };
    },

    compare(event) {

      //if backspace is keyed in, exit the function
      if(event.inputType=="deleteContentBackward"){
        return;
      }

      console.log("COMPARE:")
      console.log("currCharIndex: ", this.currCharIndex)
      console.log("currWordIndex: ", this.currWordIndex)
      console.log("all chars: ")
      console.log(this.currSplitChars)
      if (!this.isStarted) {
        this.isStarted = true;
        this.startCountdown();
      }

      if(this.inputText.length <= 0){
        return;
      }

      let currChar = this.findCurrCharPointed();
      this.entriesCounter++; //count as one keystroke

      //check if last char inputted is equal to current expected char value
      if (this.inputText.substr(-1) == currChar.value) {
        currChar.status = this.CharStatus.CORRECT; //set char to correct
      } else {
        currChar.status = this.CharStatus.INCORRECT; //set char to incorrect
      }

      let currWord = this.currSplitWords[this.currWordIndex];

      //check if input text's length is equal to current word's length
      if(this.inputText.length == currWord.value.length){

        //check if they have the same value
        if(this.inputText == currWord.value){
          currWord.isComplete = true; //set word as complete
        }

        this.currCharIndex = 0; //reset char index to 0
        this.inputText = ""; //clear input text
        this.currWordIndex++; //point to next word
      }else{
        //check if current char index is within current word's indices: [0, length)
        if(this.currCharIndex >= 0 && this.currCharIndex < currWord.value.length - 1){
          this.currCharIndex++; //point to next character
        }
      }
    },

    backspacePressed() {
      console.log("BACKSPACED:")
      console.log("currCharIndex: ", this.currCharIndex)
      console.log("currWordIndex: ", this.currWordIndex)
      console.log("all chars: ")
      console.log(this.currSplitChars)
      if(this.currCharIndex == 0 && this.currWordIndex > 0){
        let charPointed = this.findCurrCharPointed();
        charPointed.status = this.CharStatus.INITIAL; //set current char's status to INITIAL

        this.currWordIndex--; //set current word index to prev word index
        this.currSplitWords[this.currWordIndex].isComplete = false; //set current 
        this.currCharIndex = 0; //reset char index to 0

        //filter the chars in the entire char array that are children of the current word
        let childrenOfCurrWord = this.currSplitChars.filter(
          (char) => {
            return char.parentWordIndex == this.currWordIndex;
          }
        )

        console.log("children of curr word: ", childrenOfCurrWord);

        //set the status of the children of current word to INITIAL (black)
        //to signify that it should be typed again
        for(let i = 0; i < childrenOfCurrWord.length; i++){
          childrenOfCurrWord[i].status = this.CharStatus.INITIAL;
        }

      }else{
        let currWord = this.currSplitWords[this.currWordIndex];

        //check if current char index is within current word's indices: (0, length)
        if(this.currCharIndex > 0 && this.currCharIndex < currWord.value.length){
          //set current char's status to INITIAL
          let charPointed = this.findCurrCharPointed();
          charPointed.status = this.CharStatus.INITIAL;
          console.log("charPointed: ")
          console.log(charPointed)
          
          //point to previous character
          this.currCharIndex--;

          //set new char's status to CURRENT
          let charPointed2 = this.findCurrCharPointed();
          charPointed2.status = this.CharStatus.CURRENT;
          console.log("charPointed2: ")
          console.log(charPointed2)
        }
      }
      
    },

    startCountdown() {
      console.log("hello");
      this.countdown = setInterval(this.timer, 1000);
    },

    timer() {
      if (this.seconds == 0) {
        clearInterval(this.countdown); //stop countdown
        this.isTestDone = true;
        this.calculateNetWPM();
        this.calculateAccuracy();
      } else {
        this.seconds--; //countdown
      }
    },

    splitWordsOfCurrPassage(currPassageIndex) {
      let res = [];
      let splitWords = this.passages[currPassageIndex].split(" ");

      for (let i = 0; i < splitWords.length; i++) {
        let currWord = {
          index: i,
          value: splitWords[i] + " ",
          isComplete: false
        };

        res.push(currWord);
      }

      return res;
    },

    splitChars(currSplitWords) {
      let res = [];

      for (let i = 0; i < currSplitWords.length; i++) {
        let word = currSplitWords[i].value;
        let chars = word.split("");

        for (let j = 0; j < chars.length; j++) {
          let currChar = {
            key: (i).toString() + word + (j).toString(), //key
            value: chars[j], //current character
            status: this.CharStatus.INITIAL, //set to initial
            parentWordIndex: i //index of current word
          };

          res.push(currChar);
        }
      }

      return res;
    },

    getCurrWord() {
      return this.currSplitWords[this.currWordIndex].value;
    },

    calculateGrossWPM() {
      return (this.entriesCounter / 5) / this.minutes;
    },

    calculateNetWPM() {
      let uncorrectedErrors = 0;
      for (let i = 0; i < this.currSplitWords.length; i++) {
        let word = this.currSplitWords[i];
        if (!word.isComplete) {
          uncorrectedErrors++;
        }

        //stop at the last word pointed when timer ended
        if (word.index == this.currWordIndex) {
          break;
        }
      }

      console.log("grossWPM: ", this.calculateGrossWPM());
      console.log("uncorrected: ", uncorrectedErrors);

      this.netWPM = (this.calculateGrossWPM() - (uncorrectedErrors / this.minutes)).toFixed(2);
    },

    calculateAccuracy() {
      console.log("netWPM: ", this.netWPM);
      console.log("grossWPM: ", this.calculateGrossWPM());
      this.accuracy = ((this.netWPM / this.calculateGrossWPM()) * 100).toFixed(2);
    }
  }
};
</script>

<style scoped>
.card {
  background: white;
  box-shadow: 0px 2px 10px rgba(45, 52, 56, 0.1);
  border-radius: 4px;
  overflow: hidden;
  height: 280px;
  transition-duration: 0.2s;
}

.card-typing {
  padding: 25px 25px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 1.9;
  width: 60%;
  overflow-y: hidden;
  text-align: justify;
}

.card-timer {
  font-family: "Raleway", sans-serif;
  font-size: -webkit-xxx-large;
  font-weight: 900;
  color: #2d3438; /*gray20*/
  margin: 10px;
}

.card-standard {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.right {
  text-align: right;
  padding-right: 17%;
}

input[type="text"] {
  height: 36px;
  padding: 8px 12px;
  outline: none;
  font-size: 20px;
  background: #e1e3e5;
  color: #2d3438; /*gray20*/
  border-radius: 4px;
  border: 1px solid #aab5ba; /*gray70*/
  transition-duration: 0.2s;
  text-align: left;
}

span {
  font-weight: 500;
  font-size: 22px;
  font-family: "Lato", sans-serif;
}

.card-type {
  display: inline-block;
}

.green {
  color: #09b66d;
}

.red {
  color: #eb5757;
}

.blue {
  color: #60d2ff;
}

.black {
  color: black;
}
</style>
