<template>
  <div id="app">
    <Typing/>
  </div>
</template>

<script>
import Typing from './components/TypingTest.vue'

export default {
  name: 'app',
  components: {
    Typing
  }
}

</script>
  
<style>
</style>
